#Maven
target/

#Idea
*.iml
*.iws
*.ipr
.idea/

#Eclipse
.settings/
.classpath
.project

#NetBeans specific
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml

#Apple
.DS_Store

#JVM
hs_err_pid*
