<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	   					   http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean name="frdBridge" class="cz.activecode.dl.frdbridge.FrdBridge" init-method="init" destroy-method="destroy">
        <property name="frdPluginManager" ref="frdPluginManager"/>
        <property name="globalConfig" ref="globalConfig"/>
    </bean>

    <bean name="frdBridgeConfig" class="cz.activecode.dl.frdbridge.FrdBridgeConfigPropsFile">
        <constructor-arg ref="globalConfig"/>
    </bean>

    <bean name="frdPluginManager" class="cz.activecode.dl.frdbridge.FrdPluginManager" init-method="init" destroy-method="destroy">
        <property name="config" ref="frdBridgeConfig"/>
        <property name="globalConfig" ref="globalConfig"/>
        <property name="frdDialogSupport" ref="frdDialogSupport"/>
    </bean>

    <bean name="frdDialogSupport" class="cz.activecode.dl.frdbridge.FrdDialogSupportImpl">
        <property name="actionHandler" ref="actionService"/>
        <property name="fdrBridgeConfig" ref="frdBridgeConfig"/>
    </bean>
</beans>